body,html{margin:0px}
body{width:70%;padding-left:15%;padding-right:15%}
body,input,select,label{font-size:3vw;font-family:'Lobster';}
h3{font-size:5vw}
input,select{width:50%}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}
form{font-size:1.75vw;background-color:silver;padding:3%;color:black;font-family:'Lobster';text-align: left;}

#comp{
height: 90px;
margin-bottom: 1%;
background: rgb(255,255,0);  
}


form:hover{
	background-color: gainsboro;
}

#comp:hover {
	background: rgb(255,0,0);
}

div {
	text-align: center;
	font-size:3vw;
	background-color: dimgray;
	color:white; 
}

#resultadosDiv {
	display:none;
	padding:1%;
	text-align: left;
	font-size:2vw;
}