body,html{margin:0px}
body{width:70%;padding-left:15%;padding-right:15%}
body,input,select,label{font-size:3vw}
h3{font-size:5vw}
input,select{width:50%}
input[type=checkbox]{width:5%;zoom:1.5}
form{background-color:silver;padding:3%;color:black;}
#comp{
	height: 90px;
margin-bottom: 1%;
background: rgb(255,255,0);  
}
#comp:hover {
	background: rgb(255,0,0);
}

div {
	background-color: dimgray;
	color:white; 
}