body,html{margin:0px}
body{width:96%;padding-left:2%;padding-right:2%;background-image: url(../img/bckgrd.png);}
body,input,select,label{font-size:5vw;font-family:'Lobster';}
h3{font-size:7vw}
input,select{width:80%}
input[type=checkbox]{width:5%;zoom:1.5}input[type=radio]{width:5%;zoom:1.5}
form{font-size:4vw;background-color:silver;padding:2%;color:black;font-family:'Lobster';text-align: left;border-style:ridge;border-width: 3px;}

#comp{
height: 90px;
margin-bottom: 1%;
background: lightslategrey;  
}


form:hover{
	background-color: gainsboro;
}

#comp:hover {
	background:darkslategrey;
}
p{
	padding-top:2%;
}
div {
	margin-top:3%;
	text-align: center;
	font-size:5vw;
	background-color: dimgray;
	color:white;
}

#resultadosDiv {
	display:none;
	padding:1%;
	text-align: left;
	font-size:4vw;
	border-style:outset;
	border-width: 5px;
}
